<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detector de Topología</title>
</head>
<body>
    <h1>Detectar Topología</h1>

    <h2>Obtener Json de Routers</h2>
    <button type="button" id="get-topology-button">Obtener Topología</button>

    <h2>Configuración</h2>
    <form id="config-form">
        <label for="interval">Intervalo de Exploración (minutos):</label>
        <input type="number" id="interval" name="interval" min="1" value="5">
        <button type="button" id="start-button">Iniciar Exploración</button>
        <button type="button" id="stop-button">Detener Exploración</button>
    </form>

    <h2>Graficar Topologia</h2>
    <button type="button" id="graph-button">Graficar Topología</button>


</body>
</html>