<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD de Usuarios</title>
</head>
<body>
    <h1>Usuarios</h1>

    <!-- Bloque para mostrar los mensajes flash -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash-messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <h2>Obtener Json de Usuarios</h2>
    <button type="button" id="get-users-button">Obtener Usuarios</button>

    <h2>Crear Usuario</h2>
    <form action="/new_usuario" method="POST">
        <label>Nombre:</label>
        <input type="text" name="nombre" autofocus>
        <label>Permisos:</label>
        <input type="text" name="permisos" autofocus>
        <label>Dispositivos:</label>
        <input type="text" name="dispositivos" autofocus>
        <button type="submit">Crear Usuario</button>
    </form>

    <h2>Usuarios Existentes</h2>
    <div id="user-list">
        <!-- Aquí se mostrarán los usuarios existentes en formato JSON -->
    </div>

    <div class="col-md-7">
        {% for usuario in usuarios %}
          <div class="card mb-1 bg-black text-white">
            <div class="card-body py-2 px-3">
              <div class="d-flex justify-content-between">
                <h5 class="card-title h6">{{ usuario.nombre}}</h5>
                <div>
                 <a href="{{ url_for('update_usuario', id=usuario.id) }}" class="btn btn-dark btn-sm rounded-0">Edit</a>
                 <a href="{{ url_for('delete_usuario', id=usuario.id) }}" class="btn btn-danger btn-sm rounded-0">Delete</a>
                </div>
              </div>
              <p class="card-text">{{ usuario.nombre }}</p>
              <p class="card-text">{{ usuario.dispositivos }}</p>
            </div>
          </div>
        {% endfor %}
      </div>

    <h2>Actualizar o Eliminar Usuario</h2>
    <form id="update-form">
        <label>Nombre del Usuario a Actualizar/Eliminar:</label>
        <input type="text" id="update-nombre" name="update-nombre">
        <label>Permisos:</label>
        <input type="text" id="update-permisos" name="update-permisos">
        <label>Dispositivos:</label>
        <input type="text" id="update-dispositivos" name="update-dispositivos">
        <button type="button" id="update-button">Actualizar Usuario</button>
        <button type="button" id="delete-button">Eliminar Usuario</button>
    </form>

</body>
</html>
